<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{detailsCtrl.model.Code}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{detailsCtrl.CurrencyRate}}<span ng-if="detailsCtrl.rate.CurrencyRate"> RUB</span></h6>
                <p class="card-text">{{detailsCtrl.model.Description}}</p>
                <hr />
                <h5>График изменений</h5>
                <form>
                    <label>Начало</label>
                    <input class="form-control" placeholder="Начало" type="date" ng-model="detailsCtrl.startDate" />
                    <label>Конец</label>
                    <input class="form-control" type="date" ng-model="detailsCtrl.endDate" /><br />
                    <button class="btn btn-primary col-12" ng-click="detailsCtrl.searchRates()" type="button">Построить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div id="chart_div" style="width: 100%; height: 500px;"></div>
    </div>
</div>